[2020-06-08 23:21] mayacakmak opened #1 "Pug->HTML?"
Codepen had a nice automatic compilation of .pug files into .html. Perhaps sure GitHub has some plugin that helps do that? If either we might want to create some sort of compilation script (possibly with instructions to install pug on computer) or we can also switch to editing HTML directly and remove the pug files.

[2020-06-10 16:14] kavidey commented on #1
I looked into this a bit, it seems like we basically have two options.

1. We can create a GitHub action, similar to something like this: [https://github.com/elstudio/actions-js-build](https://github.com/elstudio/actions-js-build) that will detect when we commit code, automatically compile it to HTML, and then make a new commit with the compiled code.
2. We can write a script that uses a library l

[2020-06-10 17:22] kavidey commented on #1
I created a script that does the compiling and setup a pull request with it #2

[2020-06-11 00:49] KaviMD opened #3 "Extending Data Logging"
I have looked into both how Google recommends storing data in Firebase, and what kinds of events and data the programming is currently generating. Google recommends mainly to keep the structure as flat as possible, and to denormalize it when needed.

This structure is generally what I came up with. It has 4 main datatypes:
- **Users**: The anonymous users
- **Interfaces**: The different test inter

[2020-06-17 04:44] mayacakmak commented on #3
Nice! I think this makes sense but I do have some notes/questions.

* The anonymous OAuth through firebase returns a unique user ID, so we can use that as the user names under "users"
* From an experimental perspective I think it makes sense to test each user on only one interface (i.e. have a "between-participants" experiment) because it would be hard to un learn an interface and switch to anothe

[2020-06-17 20:53] kavidey commented on #3
I think I know how to move forward -- what would be helpful for me is to know what level of autonomy you prefer me to have. Would you like me to go ahead and implement my ideas informed by your input, or should we discuss the changes that I have in mind? I want to make sure that I'm not bothering you unnecessarily, but that I still get your input.

In case you’d like to discuss, I’ve detailed the

[2020-06-27 06:29] KaviMD opened #4 "Displaying a URDF in browser"
Since our meeting, I have implemented two more ways to display and interact with a URDF in a browser.

The first, is pure js, it uses a [three.js](https://threejs.org/) (a 3d rendering library for javascript) and a [URDF loader](https://github.com/gkjohnson/urdf-loaders). This is the code: https://github.com/mayacakmak/se2/tree/urdf-visualization-testing/urdf-visualization/only-js

The second is a

[2020-07-02 18:22] mayacakmak opened #5 "Secure data/fix user permissions"
Look into security rules on Firebase

[2020-07-06 17:48] kavidey commented on #5
This is our current ruleset:
[code]
It allows anyone to read anything and anyone who is authenticated in any way to write to **anywhere** under /users. The check that allows anyone who is authenticated to write (`".write": "auth != null"`) overrides the check that the user is only writing to their user id under data.

I think it would make sense to change it to something like this:
[code]
That wou

[2020-07-06 18:00] #1 closed

[2020-07-13 20:07] mayacakmak opened #6 "Flexible target visualizations"
Currently the interface has 'exact' targets, where the SE2 object (dot and line specified by an x,y  position and theta rotation) needs to be taken to an exact target pose (even though there is a small threshold around the exact pose). We would like to be able to specify flexible targets, where the goal is to bring the object within some range near a given SE2 pose. We can do this by changing that

[2020-07-13 20:22] mayacakmak opened #7 "Systematic data collection"
The practice screen randomly specifies the target after each trial. For the systematic data collection we need to systematically vary:
- How far the target is to the starting point (center) -- randomize which quadrant it is in to balance other potential biases
- How large the target area is (once we have flexible x, y -- issue #6)
- How large the target rotation slice is (once we have flexible the

[2020-07-13 22:16] #5 closed

[2020-07-20 21:44] kavidey commented on #6
I put together some possible visualization in photoshop (these were all done by hand but could easily be done on the website)

![image](https://user-images.githubusercontent.com/16945761/87989831-9a8c9b80-ca97-11ea-8b08-a162f1895d53.png)

`a` and `b` are different ways to show flexible rotation
`d` and `e` are different ways to show flexible position
`c` and `f` are ways that we might show both fl

[2020-07-24 00:46] mayacakmak commented on #7
_Based on discussion with Kavi during meeting on Jul 23, Thu._

----

We'd like to systematically vary **four variables**. For each variable we propose the following values.

 - Position distance (dist_xy). Create a grid of the screen where groups of grid cells are at equal distance from the center (starting point of the object being moved). For each distance randomly select cell from that group.

[2020-07-24 00:54] mayacakmak commented on #6
Between the dashed line indicators and faded crag indicators, I prefer the faded gray ones for better visibility (they're also likely to be easier to implement).

For the systematic study we should probably allow situations similar to (f).

One idea that came up in our meeting is to visualize the thresh_xy and thresh_theta variables with slightly different colors (perhaps shades of gray or two sha

[2020-07-27 19:14] #4 closed

[2020-07-27 19:14] #3 closed

[2020-07-28 19:30] kavidey commented on #6
I have implemented a basic version of this:
![image](https://user-images.githubusercontent.com/16945761/88710425-81a16d00-d0cb-11ea-91de-59aa16412cfc.png)
I think that it works pretty well, though it does create some weird situations such as this, where because the size of the wedge is not increased with the flexible position, there are solutions that don't seem possible (though mathematically the

[2020-08-14 22:51] mayacakmak commented on #7
_Moving email discussion here for future context_

**FROM KAVI:**

I want to let you know that I updated the flexible position visualization algorithm to reflect what we talked about in yesterday's meeting.

While starting to update the sampling algorithm, I also ran into something that I think might affect the video.

Currently, our workspace is 750px wide and 500px tall. That means that we are l

[2020-08-14 22:52] mayacakmak commented on #7
**FROM MAYA:**

Indeed, we are limited by the height of the workspace for sampling target positions. Making the workspace square is a good idea but two concerns: (1) we want to make sure the whole workspace is on the user's screen when they're doing the task (so their time to complete tasks does not include things like needing to scroll); 750 is still a good number even for those small laptop scre

[2020-08-14 22:53] mayacakmak commented on #7
**FROM KAVI:**

I see what you mean about a height of 750 being pretty large for a laptop (I usually program on a large display but I just tested it on my laptop). I like the idea in the picture at the end. This is a slight modification that gives us a bit more sampling space for the outermost circle:

![image (1)](https://user-images.githubusercontent.com/3083404/90298240-49798880-de46-11ea-84cf-

[2020-08-14 22:53] mayacakmak commented on #7
**FROM MAYA:**

Great! I like your variation with more options, but not sure how the sampling algorithm would capture those additional regions--so feel free to go with the simpler option (just sampling a dist_xy and an angle from the screen center from the right ranges) if this turns out to be tricky.

And good observation about not uniformly covering the area--that is totally fine, we just want t

[2020-08-14 23:42] mayacakmak commented on #7
@KaviMD Heads up I'm moving the sampling javascript code into its own JS file and integrating with the actual control display, assuming you haven't done this yet.

[2020-08-15 07:08] mayacakmak opened #10 "Questionnaire"
First version completed by Kavi, some formatting edits by Maya.

Revising list of questions in the [Google doc](https://docs.google.com/document/d/1nDIg68uMvRvAqv7C7-pfBeU8chcG3bRhDE97Uh8wM04/edit#).

- [x] Finalize questions
- [x]  Finalize question formatting throughout
- [x] Add code to send the form data to the database to attach to the current users data.
- [x] Red asteriks on required questi

[2020-08-15 07:12] mayacakmak commented on #7
Done with integrating config sampling with the test interface. Going through 36 configs a couple times, the sampling feels somewhat uniform :) currently order of the configs are systematic, added a todo in code to shuffle. Everything needs to be tested for robustness.

[2020-08-15 20:15] kavidey commented on #10
Data should be remembered if users go back and forth (behind the scenes, going back and forth is just hiding and revealing groups of elements using JQuery, so it keeps their state the same). As long as the user doesn't reload, everything should be saved.

I just added the red asterisk:
![image](https://user-images.githubusercontent.com/16945761/90320723-74bcb000-def8-11ea-9a1f-683f713d0ec1.png)

T

[2020-08-15 20:20] kavidey commented on #7
I just added some code to shuffle the configs.

While doing some testing I also noticed that there are situations where the displayed flexible rotation does not match the calculated one in code:
This target has a threshTheta of 59, but it does not appear to be centered around the target.
As long as the EE is rotated above the target, it looks fine:
![image](https://user-images.githubusercontent.co

[2020-08-16 03:49] mayacakmak commented on #10
Super, thanks @KaviMD!

[2020-08-16 03:56] mayacakmak commented on #7
@KaviMD I also noticed the same thing once or twice, but could not replicate (or did not try to investigate yet). As in your example, mine was also around 180 degrees (instead it was green above 180 but black below and it wouldn't trigger 'success'). I suspect this is a bug related to trigonometric computations that can get tricky when crossing 180. See if you notice anything.

[2020-08-18 20:13] mayacakmak commented on #7
@KaviMD any luck re-creating/debugging this false range issue?

[2020-08-18 20:43] mayacakmak commented on #7
@KaviMD Okay I just forced the target theta to be 180 and the issue is repeatable every time. I made a screenshot video I can share. That might give an idea for where to hunt for the bug ;)

<img width="671" alt="Screen Shot 2020-08-18 at 1 44 45 PM" src="https://user-images.githubusercontent.com/3083404/90563639-06c2f380-e159-11ea-9c0f-a2b2e7a808a4.png">

[2020-08-19 00:20] mayacakmak opened #11 "Instructional videos"
Here is the completed video for one of the interfaces:
https://youtu.be/-bwEiM_2Ur8

Any feedback/sticking point/missing things before I move onto making the other 7 videos? @KaviMD

Once videos are finalized we need to update instructions.html to (1) get which interface the participant is using from the URL, (2) display the correct video for each interface, and (3) figure out the pipeline from MT

[2020-08-19 02:23] kavidey commented on #7
@mayacakmak Thanks! That helps a lot. From what I can tell, the issue is with how the target and EE represent angles. Theta for the EE ranges from -180 to 180 while for the target, it ranges from 0 to 360.

Because of that, if the target has an angle close to 180, and the EE an angle of 170 or -170, in both cases the EE is within 10 degrees of the target, but mathematically only 170 counts as corr

[2020-08-19 18:16] kavidey commented on #11
The only thing that I can think of to add might be that after the questionnaire, users will receive a completion code to enter into MTurk. That might be unnecessary for people who are very familiar with MTurk though. Other than that, I think the video looks good

[2020-08-19 18:47] mayacakmak commented on #7
Ah, nice work figuring that out!

[2020-08-19 18:48] #6 closed

[2020-08-20 05:29] mayacakmak commented on #11
Five videos done.. four more to go (I realized a click based interface is also possible for the panel control and might be a good alternative)

Drag: https://youtu.be/A-mzWlPjxDU
Arrows: https://youtu.be/8jFbHrpaptU
Target: https://youtu.be/YEVwIV0PPDE
Panel: https://youtu.be/B8QkeA3O_RY
Ring-click: https://youtu.be/-qUV753YINg

[2020-08-20 05:33] mayacakmak opened #12 "Panel click interface"
The panel interface was implemented to support clicks (single small move of the object) as well as press-hold-release (for longer continuous moves). The latter is used much more than the former. A click-based alternative to that is that when the arrow is clicked once, the object starts moving; when it is clicked again, it stops moving. Should be reasonable to implement following the template of th

[2020-08-20 05:35] mayacakmak opened #13 "Panel interface limits"
While most controls do not allow the object to get outside the workspace, the panel control can send the object off limits--we need to implement check so the object doesn't move once it hits the walls of the workspace.

[2020-08-20 18:04] kavidey commented on #13
I just added a check to `ee.translateBy` (and `translateX/YBy`) that limits the x and y location to within the bounds of the workspace: [Code](https://github.com/mayacakmak/se2/blob/master/scripts/se2.js#L248)

[2020-08-20 18:06] kavidey commented on #13
Right now, the EE can go all the way to the bounds of the workspace:
![image](https://user-images.githubusercontent.com/16945761/90808555-0ea7a280-e2d5-11ea-9bba-898dcdc30fe2.png)
![image](https://user-images.githubusercontent.com/16945761/90808608-267f2680-e2d5-11ea-9784-a007e49eeee1.png)

We might want to add a boundary so that it can't get so close to the edge.

[2020-08-20 18:46] kavidey commented on #12
A basic version of this is implemented. It can be accessed by selecting `Panel click interface` in [demo.html](https://mayacakmak.github.io/se2/demo.html), or adding this to the end of any interface URL: `?c=4&t=1`. These are working links to the [test](https://mayacakmak.github.io/se2/test.html?c=4&t=1) and [practice](https://mayacakmak.github.io/se2/practice.html?c=4&t=1) pages.

`panel_control.

[2020-08-20 21:08] csemecu commented on #11
The videos look great! I think it is very clear the steps they need to take. One thing that I didn't know and realized with the videos is that the "I'm ready" sign is actually a button and that's how you start the next one with the countdown. So actually the "next" button is only to go to the questionnaire section after they are done

[2020-08-20 21:11] csemecu commented on #12
I agree with Kavi! I tested out on the practice page and it feels like the object becomes a little out of control when it accelerates. We might want to change the speed value to a lower one and keep the acceleration first, and if it still feels unreliable maybe discard the acceleration part

[2020-08-24 17:47] kavidey commented on #12
I update the interface with new acceleration and maximum speed values. It is definitely a bit easier to control. I do still need to sometimes move in the same direction twice because I overshot or undershot the target, but I think overall its much easier control.

[2020-08-24 18:43] kavidey commented on #11
I'm working on adding the videos to the instructions.html page, right now it seems like the Ring-click video is set to private, I'm not sure if that's just a bad link or something.

[2020-08-26 20:41] #13 closed

[2020-08-26 20:47] mayacakmak commented on #12
This parameter setting seems to work well. I also overshot or stopped early and did a few mini-movements to hit exact targets, but I think it is a good tradeoff point (versus having it be too slow and wait forever to get somewhere).

[2020-08-26 20:47] #12 closed

[2020-08-26 20:49] #7 closed

[2020-08-27 17:45] mayacakmak commented on #11
Ah yes, that video's settings were not saved yet, should work now. I'll finish the other videos today, maybe we can launch during our meeting ;)

[2020-08-27 23:17] kavidey commented on #11
I added a counter and interface selection system to the database and updated instructions.html, enabled logging, and cleared all the data from firebase.

Aside from finalizing the questionnaire, I think that all we need to do is update [this file](https://github.com/mayacakmak/se2/blob/master/scripts/instructions.js#L6) with the final set videos!

[2020-08-28 01:05] mayacakmak commented on #11
Final list of videos, also added them into instructions.js

Drag: https://youtu.be/A-mzWlPjxDU
Arrows: https://youtu.be/8jFbHrpaptU
Target: https://youtu.be/YEVwIV0PPDE
Panel: https://youtu.be/B8QkeA3O_RY

Arrows-click: https://youtu.be/ADlGCOGRjxc
Drag-click: https://youtu.be/W2uMjeDp4LI
Target-click: https://youtu.be/VpbocBmKBLk
Panel-click: https://youtu.be/Y_t3GDRDD_s
Ring-click: https://youtu

[2020-08-28 01:08] mayacakmak commented on #10
Questions close to final in questionnaire.js

[2020-08-28 01:09] mayacakmak opened #14 "Browser/system check"
We probably need to tell people to use Chrome on a desktop. Could we automatically detect if people are on a mobile device and not let them participate? @KaviMD

[2020-08-28 01:15] kavidey commented on #14
Yes, I can add a check to instructions.html. If they are on a mobile device should we just redirect them to a page that asks them to load the page on a desktop?

[2020-08-28 01:34] kavidey commented on #14
I just added code to [instructions.html](https://github.com/mayacakmak/se2/blob/master/instructions.html#L45) that redirects any mobile users to [mobile.html](https://mayacakmak.github.io/se2/mobile) (`mobile.html` instructs the user to load https://mayacakmak.github.io/se2/instructions.html on a desktop or laptop computer)

[2020-08-28 04:24] mayacakmak commented on #14
Yes! Either redirect or change the content of instructions.html to say something like "Sorry, this study is not available on a mobile device. Please use a Chrome bowser on a personal computer (laptop or desktop)." and for the browser error "Sorry this study requires a Chrome browser" (maybe it works fine on other browsers, but might not be worth the time testing).

[2020-08-28 04:43] mayacakmak opened #15 "Create MTurk HIT"
Basic instruction, link to study, place to enter completion code.

[2020-08-28 04:44] mayacakmak commented on #15
https://requester.mturk.com/create/projects/1636568

[2020-08-28 04:58] kavidey commented on #14
I added a separate clearer error for [mobile](https://mayacakmak.github.io/se2/errors/mobile_error.html) vs [chrome](https://mayacakmak.github.io/se2/errors/chrome_error.html) like you suggested (I tested the mobile device detection against several androids an iPhones, and the browser detection against Safari, Firefox, and Microsoft Edge)

[2020-08-28 04:58] mayacakmak commented on #15
Almost ready to launch...

<img width="1059" alt="Screen Shot 2020-08-27 at 9 57 20 PM" src="https://user-images.githubusercontent.com/3083404/91522976-5cfa0a00-e8b0-11ea-8e23-baaeee3a73b1.png">

[2020-08-28 05:01] mayacakmak commented on #14
Awesome!

[2020-08-28 05:04] mayacakmak commented on #15
Looks like all issues are addressed, I'll go ahead and publish the first small batch (we can call it pilot ;)). Posting this message as sort of a time stamp for when the 'real' data begins (because I just tested a few things that probably got logged). I'll get the list of completion codes tomorrow so you can verify the data @KaviMD. Fingers crossed!

[2020-08-28 17:35] mayacakmak commented on #15
Hmm only two participants so far, I wonder if we're not paying enough ($2 per HIT)
Average Time per Assignment: | 37 minutes 20 seconds <- Longer than I expected

[2020-08-28 17:53] kavidey commented on #15
Yeah, that is a bit weird. Is it possible that MTurk is out of date or something? I looked at firebase last night before you posed the HIT, and there were only 7 user-ids under `/users`, now there is 22. Out of those 22, only 9 filled out the questionnaire (I checked the dates from the questionnaire and they were all from today), so maybe not everyone who fills out the questionnaire submits the co

[2020-08-28 18:53] mayacakmak commented on #15
Oh you're right.. it had logged me out and was showing the screen from last night I guess. Here are the responses.

<img width="1436" alt="Screen Shot 2020-08-28 at 11 52 04 AM" src="https://user-images.githubusercontent.com/3083404/91605250-011d9880-e925-11ea-8879-47a5c2f99d6c.png">

[2020-08-28 18:54] mayacakmak commented on #15
The rest might be people checking out the study and decide if they want to do it..

[2020-08-28 18:57] mayacakmak commented on #15
Now: Average Time per Assignment: | 34 minutes 12 seconds
Still longer than I thought but it's good if people are spending time on the questionnaire especially.

Next we might need to figure out an "approval criteria" and "study inclusion criteria" based on what we see in the data.

[2020-08-28 20:02] kavidey commented on #15
I went through the data for those users. The cycles look good, and when I ran the data analysis it also had decent results. The distribution across interfaces was not uniform though (Because some people tried it out but never finished)

`dgb7CWy7rSNWIAZHXEYDRAt3O2b2`: arrow.press/release
`6qW2fw5bT5hLvsAUO7MaR82ZqOu1`: panel.click
`3gz7ZfC2YVWEL83csaHrnHLqet42`: arrow.press/release
`7TIOuYmg42MtgX

[2020-08-31 23:39] mayacakmak commented on #15
Nice, thanks for checking! Ah yes, we didn't think about the uneven distribution problem. I think we can just run a certain number this way and then we'll change the distribution based on what we get, until we have evened them out. Or alternatively, @KaviMD perhaps implement something in instructions.html that samples the next interface based on how many more tests are needed for each interface--w

[2020-09-01 06:46] kavidey commented on #15
I can definitely get started on an update to instructions.html for sampling interfaces based on how many more tests we need.

From what I can tell, all of the data we collected previously is still valid. The bug only resulted in us collecting extra EE pose data which doesn't affect the data analysis or admin replay interface. (I also ran the data processing script on it and the results looks reaso

[2020-09-01 20:04] kavidey commented on #15
I implemented some code that tracks how many of each interface needs to be done, are in progress, or are completed.

When a user loads instructions.html, it automatically selects the interface that has been completed the fewest number of times. When selecting an interface, the number of users currently working on that interface is subtracted from how many more times that interface needs to be comp

[2020-09-02 21:33] mayacakmak commented on #15
Thanks @KaviMD! This solution sounds great. Let's go ahead and have it automatically reduce the number when a questionnaire is submitted. Make the number high enough so it doesn't hit zero if many people are "trying out" the study in parallel. We can then manually increase the numbers, as many as needed, if we decide to throw out some data. Let me know when it's ready and I'll start a new batch (l

[2020-09-03 01:25] kavidey commented on #15
I updated the algorithm so automatically reduces the count. I also set the count for each interface to 30 (That is 270 total, which should be more than enough if we are starting a batch of 100)
https://console.firebase.google.com/u/0/project/accessible-teleop/database/accessible-teleop/data/~2Fstate

The whole system for selecting interfaces is getting pretty complex, so I ran several locally to t

[2020-09-03 03:57] mayacakmak commented on #15
Published a batch of 100 now! fingers crossed

[2020-09-03 05:04] kavidey commented on #15
It looks like the first set of results are coming in. There was a timing bug in the code that prevented about 80% of users from moving on from the testing page to the survey. I believe it is now fixed, but anyone who loaded the testing page before I was able to upload the fix might not be able to access the survey.

I have canceled the batch so that no additional money or time is wasted while we a

[2020-09-03 17:09] kavidey commented on #15
I'm going through the data and verifying everything (the .json file that I downloaded from firebase was 4.5 **million** lines long, so my data analysis code is running _very_ slowly, an the admin page for viewing cycles wouldn't even load).

There was a bug in questionnaire.html where we weren't collecting data from textareas, or inputs (so only the checkboxes), that is now fixed, however, that me

[2020-09-08 06:12] mayacakmak commented on #15
Sorry I'm seeing this only now. Bummer about the open ended answers, but again good job catching that early. Did you end up sending the follow up survey? I think that might not work well with the data association etc. or might be more work than we need--if you haven't tried it, we can instead just remove that data. We had budgeted for up to 50 people per condition, we should probably get to at lea

[2020-09-08 15:59] kavidey commented on #15
That's fine, I didn't end up sending the follow-up survey. In terms of data association, I figured that we could just use ask workers to input their Worker ID to the questionnaire and then match that up with the ids from the initial survey. I'm happy to just remove their data though.

These are the updated graphs (keep in mind that this is not taking into account flexible position flexible rotatio

[2020-09-09 04:50] kavidey commented on #15
This is correlation matrix one way of looking at how the flexibility of the target impacts cycle times:
![image](https://user-images.githubusercontent.com/16945761/92555619-e5679b80-f21c-11ea-9531-32a7c6bbd812.png)
In this case flexibility is a normalized sum of flexible rotation and flexible position.

I'm currently double checking all of the data from the previous study to make sure that everyth

[2020-09-09 17:14] mayacakmak commented on #15
Nice! Removing the outliers was a good idea, we can see the interesting patterns better in the second graph. Some quick observations/notes:
* A Fitt's law type dependence on distance seems to be there most for panel interfaces, then arrow interfaces, and then (maybe slightly) drag interfaces. Target interfaces not so much.
* Target interfaces seem to have a large cluster, then a few 'outliers'--in

[2020-09-09 17:19] mayacakmak commented on #15
Now looking at correlation matrices.. I agree it makes sense to look at correlation.. in fact, we'll probably want to plot the fitted line on the X-vs-time graphs and report correlation (how well the line is actually fitting) for each of them. Again, for now, I would not try to combine "xy" and "theta" metrics into one metric, but we could do that later if everything looks similar for the separate

[2020-09-09 17:21] mayacakmak commented on #15
Great, we can start a new round soon (let's try to hit 20 per condition) then look at these graphs with the cleaned up data.

[2020-09-09 17:29] mayacakmak opened #16 "3D Control Interfaces"
I see progress on the 3d-interface branch but haven't been able to test it. @KaviMD what is the status? What remains to be done? How could I help?

[2020-09-09 17:29] #14 closed

[2020-09-09 17:30] #11 closed

[2020-09-09 17:30] #10 closed

[2020-09-09 17:53] kavidey commented on #16
I have integrated the IK into practice.html, and split the camera into four views:
![image](https://user-images.githubusercontent.com/16945761/92634372-0fef3e00-f289-11ea-8976-da6d0327a726.png)
Currently, it can be run locally by creating a python server with `python -m http.server`.

The biggest challenge right now is having multiple EEs in one webpage. The way the code is written right now, we c

[2020-09-09 18:54] kavidey commented on #15
I have gone through the data and I think that everything is ready to run a new round.

We might not want to start all 180 at once though. Because MTurk starts everyone with in the first 20-30 minutes after posting, little of the code that I wrote to balance interfaces has a chance to come into effect (because it can only count someone as having given up after 30 minutes). If there is a way to spre

[2020-09-10 16:06] mayacakmak commented on #15
Great! I just released the next 100 HITs. Let's see how that goes and we can collect more in smaller batches after that.

[2020-09-10 16:34] mayacakmak commented on #16
Thanks, I was able to try it out!

Hmm I think I understand the problem. We might need a deeper refactoring to address. In the new setup the end-effector and the target are now SE3 instead of SE2, i.e. they have 6 degrees of freedom (x, y, z, theta_x, theta_y_theta_z). Each view has a separate control that can change a subset of these V1: x, y, theta_z; V2: x, z, theta_y; V3: y, z, theta_x. So it

[2020-09-10 21:15] kavidey commented on #15
It looks like all 100 have been completed.
Aside from 3 people who submitted their worker ID, instead of their UID as their completion code, all the data is there. (I assume that all the data for those 3 users is still in our database, we just don't have an easy way to link up the worker to their data)

In terms of the interface distribution, it looks really good.
`11 11 12 10 11 12 11 11 12` That

[2020-09-10 23:25] mayacakmak opened #17 "Data processing and analysis"
We can move discussion about data to this issue.

One initial TODO:

- [ ] Write a script that converts (probably a subset of) the data into a CSV (spreadsheet compatible) format so we can more easily browse, take notes on, code, etc. open ended answers

[2020-09-11 04:41] kavidey commented on #17
[This script](https://github.com/mayacakmak/se2/blob/master/data-processing/json_to_csv.py) converts the json data into two csv files. One contains cycle data, and the other contains questionnaire responses. The original json file, along with the two csv files are uploaded to this google drive folder: https://drive.google.com/drive/u/0/folders/1R89qRGApJjWt0EQz45dtSLZaQNc5mKGz
The two output csv f

[2020-09-11 04:55] mayacakmak commented on #17
Excellent! @csemecu can you give it a try?

[2020-09-11 04:59] mayacakmak commented on #15
Awesome! could the extra 1 be a test that we ran? or someone did everything but not submit? We can still approve all HITs I guess, but perhaps double check the data entries for unclaimed UIDs -- since they didn't pay attention to the instructions to get the code at the end of the survey, they might have missed other things.

So should I do ahead and release another batch (e.g. try to hit 20 or 25)

[2020-09-11 05:01] csemecu commented on #17
Yes! I will take a look at the data and start running some preliminary analyses with SPSS. I'll update you both early next week. One thing I was asking Kavi is if these files are de-identified, I'm thinking so.

[2020-09-11 05:09] kavidey commented on #15
We should be good to release another batch. All of the data from the previous batch is still on firebase, so it should be extremely easy to combine them once we have the list of new UIDs.

Do we need to worry about the same users doing the study twice? I don't know if MTurk will handle that or not.

[2020-09-11 05:12] mayacakmak commented on #15
Hmm good point.. I think it ensures unique worker ID per batch not sure about across batches. Let's check about that with others.

[2020-09-11 15:43] kavidey commented on #15
I don't know if there is an easier way to do it, but it seems like we could create a custom qualification that that excludes anyone who has already completed the study: https://blog.mturk.com/tutorial-best-practices-for-managing-workers-in-follow-up-surveys-or-longitudinal-studies-4d0732a7319b

[2020-09-11 18:48] mayacakmak commented on #15
Yes, I see that's also what Amal and Nick did for their studies. I'll go ahead and do that for the next round.

[2020-09-11 18:50] mayacakmak commented on #15
Noting this here, in case it explains an outlier:
Ti70UEMLCFNHJi9Hhzojkm1iwCx2\|was delayed from responding to one of the trials due to computer issue

[2020-09-11 18:52] mayacakmak commented on #15
Another one, they might have watched the video for a different interface:

uzWPwecAL8gOsYysuNPjqiLeNrJ3|I watched the instructional video and then went on to do the study, but it did not load properly. So I clicked out of the app, clicked the link on the HIT page again, and this time it worked. But since I had already watched the instruction video on my previous attempt to make it work I skipped t

[2020-09-11 20:00] mayacakmak commented on #15
Okay, just created the qualification and published a batch of 90 HITs for new workers!

[2020-09-12 21:17] kavidey commented on #16
I think I understand what we need to do. I am working on creating an SE3 class with support for movement and rotation in all 3 axes. I also added some radio buttons at the top of the page to select one of the 3 views (This is probably not the most efficient solution, but it is simple to test with, and it should be easy to replace with something better later).

This is a mockup of how I envision th

[2020-09-12 22:32] kavidey commented on #15
All 90 have been completed and processed. I uploaded the files to the same google drive folder: https://drive.google.com/drive/u/0/folders/1R89qRGApJjWt0EQz45dtSLZaQNc5mKGz

The distribution looks great: `22 21 22 21 22 21 21 21 21`
There is a total of 192, which makes me wonder if there is something that we're not noticing because there has been exactly 1 extra completion in both batches.

When I

[2020-09-12 22:32] kavidey commented on #17
The results of the second batch are done processing. I added new files to the [google drive folder](https://drive.google.com/drive/u/0/folders/1R89qRGApJjWt0EQz45dtSLZaQNc5mKGz). They are a combination of both batches (let me know if we want separate ones).

[2020-09-15 21:25] mayacakmak commented on #16
@KaviMD nice work at getting to those TODOs! The mock up looks great. I agree the view change control could be more intuitive/natural but this is totally fine as a place holder.

[2020-09-15 21:32] mayacakmak commented on #16
It occurred to me that with the target EE visualization being a 'ghost' gripper, visualization of flex thresholds is going to get complicated. One idea is to change the task slightly,  to something that's actually more realistic--instead of telling the user where to put the gripper, we place a 3D object to be grasped (and make it somewhat obvious roughly how it would be grasped) and the user's job

[2020-09-15 22:28] mayacakmak commented on #17
Started combining/summarizing data in this spreadsheet for quick checks and visualization:
https://docs.google.com/spreadsheets/d/1snU2Rs7UUd3au_3eSIWlyoQcLhFxicjWH2Oe_wAJIBo/edit?usp=sharing
(in the same folder as the raw data)

[2020-09-16 21:22] mayacakmak commented on #17
I've cleaned up the data in the [spreadsheet](https://docs.google.com/spreadsheets/d/1snU2Rs7UUd3au_3eSIWlyoQcLhFxicjWH2Oe_wAJIBo/edit?usp=sharing), only including participants with a unique ID that has exactly 36 cycles associated--that is 156 out of 192 entries. @KaviMD we might want to remove those who do not have 36 cycles in the data processing pipeline already, but the spreadsheet can now ha

[2020-09-16 21:31] csemecu commented on #17
Yesterday I sent out an email with the results I got from SPSS. I used 166 participants. The ones that had more than 36 cycles I only used the first 36 and discarded the rest. But I can run everything again with those 156 that you mention. I added the exported results as an [htm file](https://drive.google.com/file/d/1EIFwd4ukyP6HIs-_myAgm3bfubdSWPwZ/view?usp=sharing) in the drive folder

There are

[2020-09-16 21:32] mayacakmak commented on #17
@csemecu Adding stats analysis discussion to this thread also--from Maru:

<img width="770" alt="Screen Shot 2020-09-16 at 2 28 17 PM" src="https://user-images.githubusercontent.com/3083404/93394481-249f7900-f829-11ea-957f-03f2f2a2e060.png">
<img width="887" alt="Screen Shot 2020-09-16 at 2 28 10 PM" src="https://user-images.githubusercontent.com/3083404/93394490-28330000-f829-11ea-9b71-23aeab3354

[2020-09-16 21:34] mayacakmak commented on #17
@csemecu Messages crossed :)

Yes, it is unclear which 36 is the right one to include so let's just remove those participants. Also let's wait for the next batch.

[2020-09-16 21:42] mayacakmak commented on #17
One question about analysis: We have 36 measurements from each participant but the data is pooled together. This analysis:

<img width="784" alt="Screen Shot 2020-09-16 at 2 39 24 PM" src="https://user-images.githubusercontent.com/3083404/93395436-c70c2c00-f82a-11ea-9361-a2b17d08f5a2.png">

.. looks the same as it would look if each data point came from a different participant, instead of 36 data

[2020-09-16 22:16] #15 closed

[2020-09-17 03:16] mayacakmak commented on #17
Initial look at questionnaire data is in the 'Interface comparisons' tab of the [spreadsheet](https://docs.google.com/spreadsheets/d/1snU2Rs7UUd3au_3eSIWlyoQcLhFxicjWH2Oe_wAJIBo/edit?usp=sharing).

Replicated the scatterplots for Time -vs- dist_xy, dist_theta, thresh_xy, thresh_theta, with trendlines, showing some interesting trends, in the 'Target comparisons' tab of the [spreadsheet](https://doc

[2020-09-17 05:11] mayacakmak commented on #16
TODO:
- [ ] Decide what interfaces to implement in SE3

Pasting the narrative skeleton I came up with below. Some observations:
- It would be difficult to talk about the work without mentioning accessibility--it is possible but some of our choices will be difficult to justify (e.g. why split into three views, why click and press/release options,..).
- The choice of splitting into three views is pa

[2020-09-18 05:43] mayacakmak commented on #17
@KaviMD I'm starting to look into the next batch of data. How long does get_firebase_data.py script usually take? Like you mentioned before, the web interface didn't work for exporting. One todo for future (perhaps already for SE3 study) is to save detailed session data (for recreating all actions) in a different branch of the database so it can be downloaded separately (at its own pace) if needed

[2020-09-18 05:44] mayacakmak commented on #17
Oh, looks like I'm done downloading, so the answer to the first question (for the latest data) is about 5 minutes.

[2020-09-18 06:12] mayacakmak commented on #17
So far `process_data.py` and `calculate_session_lengths.py` seem outdated, because they require manually entering uids and have fewer uids than we had in the data already.

Tried `json_to_csv.py` but that requires a different json than the one `get_firebase_data.py` downloads (one that also has state branch of the database. I'll try this again after changing `get_firebase_data.py` to download the

[2020-09-18 06:30] mayacakmak commented on #17
Actually I was not able to download root of the database, so just went ahead and modified `json_to_csv.py` This part of the repo needs a bit more documentation ;)

@KaviMD the question labels in the questionnaire data seem to be mixed up in the latest data--I was already a bit suspicious the earlier data, feeling unsure which question id (e.g. section-0-question-1) corresponds to which actual ques

[2020-09-18 15:52] kavidey commented on #17
Sorry about the documentation and the other problems with the code, a bunch of those files were very out of date. I am working on adding more documentation and cleaning everything up.

I manually verified the data in firebase for several users against the data in the spreadsheet for the first 2 batches. (I verified that section-0-question-1 in firebase definitely corresponds to section-0-question-

[2020-09-18 16:18] mayacakmak commented on #17
Perfect, thanks for verifying. So you think there's a problem with the new raw data (not the processing json to cvs code)?

[2020-09-19 04:21] kavidey commented on #17
I just finished running a bunch of different tests on the data. I haven't figured out exactly why the problem occurs, but I know how to fix it.

The algorithm in `json_to_csv.py` to convert the questionnaire data to csv format only works properly if the questionnaire responses are stored in a very specific (currently hardcoded) order. This is the "original" order of the questions (this is the orde

[2020-09-19 05:09] mayacakmak commented on #17
Phew.. nice detective work and thanks so much for fixing everything!

I didn't use wget, I only used the get_firebase_data.py script to get the data from firebase; I wonder if that's part of the reason. Or could it be a Python2 Python3 thing? I used Python3 other than the one that required the firebase module. Your solution sounds good (even though hopefully we have enough data and we don't have t

[2020-09-30 05:24] mayacakmak commented on #16
I just tried the different SE3 interfaces--great progress @KaviMD on implementing all options! They all work quite well and the interface is very intuitive. Two things to address:

Re: Ghost EE---I think the easiest would be to not have a ghost of the gripper but instead have a ghost of the "red indicator"--in turn I think it would be great if we could make the indicator slightly different: (1) ma

[2020-10-08 15:57] kavidey commented on #16
I finished getting `targetdrag` working in 3d with the new IK indicator. While testing it, I ran into a bit of a weird behavior with rotation in the 3d environment.
All of the translation is relative to the view of the camera, so even if the EE is rotated 45 degrees, it will move in a straight line parallel to the plane of the camera. The axis of rotation on the other hand is local to the EE and n

[2020-10-08 17:15] mayacakmak commented on #16
Cool!

Hmm, I think having the axis of rotation relative to the camera view is more intuitive. I assume that's what we're doing for the other interfaces? That's why we have three orthogonal views, each view provides orientation around one axis and the combination is full control on rotation in 3D. Not sure how relative to local EE would work and couldn't access the video (seems to be set to privat

[2020-10-09 07:05] kavidey commented on #16
Sorry about the video, that should be fixed now ([https://www.youtube.com/watch?v=5dtq6Mvkzcc](https://www.youtube.com/watch?v=5dtq6Mvkzcc)). Right now, the rotation is actually relative to the EE across all of the interfaces.

I can work on changing the rotation axis to be based on the camera.

[2020-10-10 21:39] kavidey commented on #16
I have implemented rotation based on the world axis.

For testing, I added a toggle at the top of the page to easily switch between the world and local axes of rotation (the toggle does not affect translation). @mayacakmak think that you're right that rotating on the world axis is easier to control than rotating on the local axis.
![Screen Shot 2020-10-10 at 2 38 20 PM](https://user-images.githubu

[2020-10-14 18:49] mayacakmak commented on #17
@csemecu Can you take a look at this question about statistical analysis?

[2020-10-14 18:52] mayacakmak commented on #17
@tapomayukh See the readme here to get started on the data processing: for Study 1:
https://github.com/mayacakmak/se2/tree/master/data-processing

Also here's the spreadsheet where we're inspecting the same data:
https://docs.google.com/spreadsheets/d/1snU2Rs7UUd3au_3eSIWlyoQcLhFxicjWH2Oe_wAJIBo/edit?usp=sharing
.. will tag you shortly.

[2020-10-14 21:06] csemecu commented on #17
Yes, I can definitely do that. I will add participant as another block

On Wed, Oct 14, 2020, 11:50 AM Maya Cakmak <notifications@github.com> wrote:

[2020-10-15 06:48] KaviMD opened #18 "Data Logging Updates"
Todos:
- [ ] Log low-level actions to a different section of the database
- [ ] Update logging to work with SE3
- [ ] Add question ID's to questionnaire
- [ ] Look into odd questionnaire results from Study 1

[2020-10-16 07:15] tapomayukh commented on #17
When I try to convert the json to csv, I am getting a unicode error: "UnicodeEncodeError: 'ascii' codec can't encode character u'\u2192' in position 142: ordinal not in range(128)". Any ideas why? Note, my json file downloading took around 3 minutes. And, I didn't change any permissions on the firebase side.

[2020-10-16 07:18] tapomayukh commented on #17
Nevermind, I fixed it by switching from python 2.7 to python 3.6

[2020-10-16 08:24] kavidey commented on #18
I have added ids to the questionnaire responses. Every question is now stored in the format:
[code]

I am going to run several more tests on data logging from the questionnaire. I also added the current interface to the logging with the questionnaire to help with processing the data.

[2020-10-17 01:02] kavidey commented on #18
I also looked into the weird results from NASA TLX in study 1 a bit more. [This file](https://github.com/mayacakmak/se2/blob/master/data-processing/process_questionnaire_results.py) generates graphs based on that data (the same ones that we already have in google sheets plus a few more).

One of the graphs that I found interesting was a boxplot of the responses grouped by question:
![image](https:

[2020-10-17 18:00] tapomayukh commented on #17
Today, weirdly, I am getting a new error trying to download data from firebase: "requests.exceptions.HTTPError: 401 Client Error: Unauthorized for url: https://accessible-teleop.firebaseio.com/.json". I am guessing it's a firebase rules thing? How do I change it on the firebase side (I could not find it on the README)?

[2020-10-17 20:15] kavidey commented on #17
Sorry about that, I updated the rules yesterday and disabled permission for the script to download data.

I have re-enabled it. The rules can be edited here: https://console.firebase.google.com/u/0/project/accessible-teleop/database/accessible-teleop/rules (there is a comment explaining what to do). I also added it to the README.

[2020-10-19 23:53] mayacakmak commented on #16
Kavi's 3D interfaces demo is live here:
mayacakmak.github.io/se2/se3/practice.html

Here are some ideas for improving the interface:
- [x] Improved visualization of the "end effector" I propose using a standard SE3 coordinate frame visualization with three color coded axes and a sphere at the center; [here is a prototype](https://docs.google.com/drawings/d/1AOizUo6zxx15K7QXlP-UGJdQF7Dsh-mG9G5J8CWz

[2020-10-20 11:01] tapomayukh commented on #16
Looks great! This is not as easy as I thought and it needs some getting used to :-) I am so used to rotating 3D views using mouse that adapting to this is tricky and requires me to map multiple views continuously. Note, the IK is finicky. I really wish we had some joint control or atleast some elbow control. Minor comments: We could improve the visualization by adding a different color for the arm

[2020-10-21 23:37] kavidey commented on #16
I think that I have completed most of the visual changes (I am still working on updates to the IK and sampling).

One note:
The PR2 model that I am using prevents the gripper from being opened all the way. I edited the file to try and remove the limits, but I was not able to reliably increase the bounds for both fingers (I was able to get one finger further open, but the other one wouldn't move wh

[2020-10-21 23:56] mayacakmak commented on #16
Nice work @KaviMD!!! I noticed some of the changes already earlier today when I was taking some place holder screenshots.

Strange issue about the fingers, but opening evenly as much as you can (i.e. w/o making it lopsided) should be fine for now.

[2020-10-22 04:13] kavidey commented on #16
I added code to turn the whole arm dark grey if a bad IK solve is detected (i.e. if the ee gets too far away from the target in orientation or position). When this happens, the IK is also "reset":
- The state of the IK partially dependent on where it was last frame. Resetting it sets the "last frame" to the default resting position of the arm and then runs several rounds of optimization to try and

[2020-10-23 16:47] tapomayukh commented on #16
@KaviMD Great work on using the previous state and removing the soft limits. For the cheat sheet, I just meant the mapping between mouse actions and interface behaviors. If you have a video before every interface test that talks about it, then great but from our previous Stretch study with people with disabilities, we found that they still need a cheat sheet because they tend to forget how to move

[2020-10-25 16:32] kavidey commented on #16
I updated test.html to work with SE3 and finished the updates to the sampling algorithm.
There is a little bit of randomization in the size and position of the targets, but not too much that changes the difficulty too much.

Everything is here: [mayacakmak.github.io/se2/se3/test.html](https://mayacakmak.github.io/se2/se3/test.html)

With the updated gripper pose and limited sampling positions, 5 t

[2020-10-26 19:59] csemecu commented on #16
I tried this last week the first time you sent out an update, and tried it
out today. It looks really good and it feels a bit cleaner right now. I
agree that this time around feels faster to complete. That might also be a
learning effect.

On Sun, Oct 25, 2020 at 9:32 AM Kavi Dey <notifications@github.com> wrote:

[2020-10-26 21:00] mayacakmak commented on #16
I agree, this is great @KaviMD! the visual interface changes have really helped and the IK seems more stable.

One question still: it seems the robot declares 'no IK' only when the position (x,y,z) cannot be reached; it is okay with the desired rotation (thetaX, thetaY, thetaZ) not being reached. Is that correct? I think that is sort of unintuitive--it can feel like the orientation knobs are not w

[2020-10-26 21:14] mayacakmak commented on #16
Also I still think we could be operating in a "better" part of the robot's kinematic space, one thought is the following:
<img width="529" alt="Screen Shot 2020-10-26 at 2 02 32 PM" src="https://user-images.githubusercontent.com/3083404/97228669-7cb88c00-1794-11eb-898b-8733c19a9754.png">
.. in our tasks I keep being restricted by the wrist joint limit being on the wrong side; could the initial pos

[2020-10-26 22:58] kavidey commented on #16
The code should declare 'no IK' when the target orientation cannot be achieved. It looks like the threshold was set much too high. I updated the threshold which combined with the update to the IK starting position makes rotation feel a bit better.

The video about PR2 was super useful for picking a better starting position (and really cool to watch). Based on it I updated the starting position to

[2020-10-26 23:42] mayacakmak commented on #16
Excellent! Indeed, makes sense that the side grasp would be harder in that part of the space, and I would suggest exactly what you already suggested--make the object graspable from the top. The top and front grasps come up a lot with table top objects, whereas this type of side grasp would be more relevant for when someone hands over an object to the robot (which is okay for us to exclude as a tas

[2020-10-27 00:51] kavidey commented on #16
The size should be changed to be closer to a remote shape:
![image](https://user-images.githubusercontent.com/16945761/97243347-5bb36380-17b3-11eb-8c1d-0b1d2584c9ff.png)

I also doubled the thickness as you suggested.

[2020-10-27 03:10] mayacakmak commented on #16
Looks like the starting pose of the arm has changed; could we make it like it was in the first image above (where you said you changed it):
![image](https://user-images.githubusercontent.com/16945761/97235670-99f35780-17a0-11eb-9cd8-c40e63a537b8.png)

[2020-10-27 04:12] kavidey commented on #16
The starting joint angles (before any IK runs) is actually:
![image](https://user-images.githubusercontent.com/16945761/97235670-99f35780-17a0-11eb-9cd8-c40e63a537b8.png)

The problem is that as soon as the IK starts, it will move the arm to better be closer to the target and change the location of the elbow.
![image](https://user-images.githubusercontent.com/16945761/97255261-7692d180-17cd-11eb-8

[2020-10-27 06:21] mayacakmak commented on #16
Ah yes, I've noticed the issue with caching. I agree it's still a lot smoother. I think this is a reasonable point to stop changes for the study; I'll make the screen capture videos etc with this version and try to finish videos tomorrow so we can start collecting data!

[2020-10-28 03:44] mayacakmak commented on #16
@KaviMD A few issues and potential bugs I noticed while trying to make videos:

- [x] The arm does not turn green for the two target interfaces (ring-click and target); perhaps the screen moves on before it does? would be good to delay the transition a bit so people can see they succeeded in reaching the "target"

- [x] The "IK found" threshold still seems to be high; in the image below the rotati

[2020-10-28 03:56] mayacakmak commented on #16
A couple more:
- [x] The target can get off limits in panel click
- [x] The arm also does not turn green in panel click and panel press/release
- [x] Can we make the cylinder radius slightly larger? it's hard to see sometimes

[2020-10-28 06:39] kavidey commented on #16
Most of those should be fixed! Some notes:
- On top of moving targets further down, I also moved the "remote" targets a bit closer horizontally to the PR2 body to make them easier to grasp (the IK has trouble grasping from above when they are really far away)
- Fitting everything in the bottom right view is difficult to frame, so I also zoomed it out a bit
- I was not able to recreate the arm not

[2020-10-29 06:28] mayacakmak commented on #16
@KaviMD There seems to be a bug with IK visualization in the target interface, it appears there is no IK solution even though the arm seems to move correctly:
https://www.dropbox.com/s/7lytzvi0nbx2prt/target_intro.mov?dl=0

A similar thing might be happening in targetdrag, but that one still found some IK solutions once other decgress started moving, still suspicious in comparison to the non-targe

[2020-10-29 07:09] mayacakmak commented on #16
One more detail about the bug with the 'target' interface: changing the orientation slightly seems to fix the visualization issue... so basically every time only position is changed (through a click in free space) the IK/no-IK viz doesn't seem to be updating.

[2020-10-29 07:16] mayacakmak commented on #16
Different possible bug:

- [x] In the targetdrag interface, when the pose is specified in the top-left corner view, the height of the gripper (which shouldn't be controllable from that view) suddenly jumps to a much higher value (observable in the top right view). Here's a video: https://www.dropbox.com/s/tff7l0eqxy9wgyw/targetdrag_task1.mov?dl=0
@KaviMD see if you can find anything that could be

[2020-10-29 08:18] kavidey commented on #16
The problem with the gray color for the target interfaces is due to how the arm color is updated in code. At the moment, the color of the arm is only updated when the user interacts with the interface (not when a new frame is drawn), so it is possible that when the first frame is set (after only 1 round of IK), the arm is in a "bad" state and grey, however over a few frames, it converges on a more

[2020-10-29 15:54] mayacakmak commented on #16
Awesome job hunting down the bugs @KaviMD! and thanks for explaining what they were ;) I'll remake a couple clips, almost done with videos.

[2020-10-29 16:53] mayacakmak commented on #16
@KaviMD The 'Reset Arm Pose' button was not working for me, here's what I did--in `manualResetIK()` I replaced:
`
 resetIK();
`
with:
`
setEEPoseAtCenter(); // This calls resetIK()
Control.initialize(ee.pose);
`
Seems to be working from testing, but just noting down here in case this messes up something else.

[2020-10-29 18:01] kavidey commented on #16
@mayacakmak That makes sense, I originally misread what the 'Reset Arm Pose' button was supposed to do. I thought that it was just supposed to recalculate the IK without moving the IK target back to its original position.

The one change that I made to the code was replacing `Control.initialize(ee.pose)` with `Control.updateControlPositions()`. In addition to moving the svg based UI elements to ma

[2020-10-29 18:15] mayacakmak commented on #16
Aha, exactly the type of thing I was worried about with calling an 'initialize' function :) Thanks for fixing that!

[2020-10-29 20:16] mayacakmak commented on #16
@KaviMD Just to check: are the "view changes" getting logged? i.e. could we recreate how long each participant spent in each view?

This thread is getting too long :-)

[2020-10-29 20:18] kavidey commented on #16
@mayacakmak Yes, the view changes are getting logged. As of right now, they are logged to the action list under `se3/cycles/{cycle_id}/` along with resetting the arm position, any click interactions with the UI itself, and a log of the position of the EE every (I think) 750 ms.

[2020-10-29 22:56] mayacakmak commented on #18
@KaviMD Coming back, this does show some differences across the interfaces. Is the orange line the median? It's curious how the median could vary but not the mean.

We decided to use data only from (a) participants that had exactly 36 cycles ("valid"), (b) the subset of first 24 valid participants in each condition (if the condition ended up having more valid data). Can you confirm that these grap

[2020-10-29 23:02] mayacakmak commented on #17
@KaviMD See Issue #18 for some data cleaning questions; moving discussion here.

For study 2 it would be great if we can extract some additional metrics to support the narrative, two that I thought of were:
- [x] Number of clicks (per task): something expected to correlate with task completion time (i.e. 'cycle length') but might have interesting differences
- [x] Duration of dragging (per task):

[2020-10-29 23:45] mayacakmak opened #20 "Study 2 data processing, analysis, figures"
@KaviMD Creating a separate thread for study 2 related data stuff. The first MTurk batch is not running so soon we should have some data to look at.

I know you've updated the data model a bit in on Firebase. Is the data processing code under `se3/` also updated? What needs to be done there?

Data we'll want to extract from the logs:
- [ ] Task completion time (we might actually want to look at th

[2020-10-29 23:49] mayacakmak commented on #17
@csemecu Any luck with statistical analysis? Perhaps we needed to give you new data? @KaviMD could we perhaps have the data processing script also filter 'valid' participants (i.e. exactly 36 cycles) and subselect the first 24 valid participants, so we're sure everything we're reporting is based on the same data?

[2020-10-30 02:24] tapomayukh commented on #17
Yes, these could be very informative. Are we already collecting switches (between clicks, drags etc. or translation, rotation etc.) and their correlation with task time, task progress, or task type?

[2020-10-30 04:02] kavidey commented on #20
Currently, there is no code for data processing under `se3/`. Most of the code for data processing under `se2/` should work for se3 though.

The big things that need to be changed are where data is being downloaded from on firebase, and where the action list for each cycle is. Previously this was `users/{uid}/sessions/{sid}/cycles/{cid}/events`, for se3, the cycle metadata (target pose, total time

[2020-10-30 04:04] mayacakmak commented on #20
Sounds good! we should have the first batch data in the databse for testing SE3 data processing.

[2020-10-30 06:36] kavidey commented on #17
@tapomayukh For both SE2 and SE3 we collect data anytime the user interacts with the interface. For interfaces with interactable elements like arrows, there is a state machine that logs and keeps track of the current state of the interface (moving up/down/right/left, rotating, etc.) All of this is collected per cycle so it can easily be correlated with a specific user or interface

The filtered .c

[2020-10-30 06:51] kavidey commented on #17
This is the boxplot of questionnaire data from #18 with the new filtered data:
![image](https://user-images.githubusercontent.com/16945761/97669545-93cfd600-1a41-11eb-97d1-840e7d82bd74.png)

@mayacakmak The orange line is the median and the dashed green line is the mean (sometimes the fall on top of each other or on the top/bottom of a box)

[2020-10-30 08:29] kavidey commented on #20
As of right now, all of the data processing scripts in `se3/` except for `process_data.py` should be working with the SE3 data (there isn't enough data to get in-depth results right now. The user filtering was also disabled)

One thing that I'm not sure about is what the best way to calculate the distance between the pose of the target and the starting pose of the EE (position could be euclidean d

[2020-10-30 16:07] mayacakmak commented on #20
Nice! @KaviMD I don't think we need to worry about numerically representing distance and size/flex of targets for Study2 (i.e. we won't try to recreate the scatter plots). Since it's only 5 tasks we can visually show what they are--what matters more directly is how much the gripper has to move/rotate to grasp it.. we asked participants to grasp a certain way and I think you set up the tasks nicely

[2020-10-30 17:09] kavidey commented on #17
I just found a bug in the dragging distance calculations, it was being calculated for all interfaces _except_ ones with `press/release` transitions instead of only those interfaces. I updated the file on google drive with the fixed version: https://drive.google.com/file/d/1xL-rRFK4AgOKbw3t08lrEVVjjGKF8xrs/view?usp=sharing

[2020-10-30 17:42] kavidey commented on #20
`json_to_csv.py` is updated with the new view metrics.
`process_data.py` is integrated into the new se3 data, but most of the graphs that it was originally meant to create rely on distance metrics that we don't currently have calculated for se3

I uploaded `.csv` files generated from all the se3 data we have right now to the Google Drive folder:
Cycle Data: https://drive.google.com/file/d/1Q3ssA1N

[2020-10-30 18:55] mayacakmak commented on #20
I'll go ahead and release more HITs now. Inspecting the questionnaire data, the quality seems much higher b/c I restricted 'location' to US only.